@import 'config';
@import 'utilities';

#navbar {
    display: none;
}

.nav .container {
    all: unset;
}
.nav label {
    display: block;
    width: 26px;
    float: right;
}

img {
    width: 120px;
    float: left;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    margin-top: 0.70rem;
 }



.menu {
    text-align: center;
    width: 100%;
    display: none;
}



.menu a {

    clear: right;
    display: block;
    border-bottom: 1px $primary-color dotted;
    margin: 0;
    color: $primary-color;
    position: relative;
    background-color:  rgba(255, 255, 255, 0.947);
    z-index: 5;
    
    &:hover {
        color: white;
        background: $primary-color;
    }
}

#toggle:checked + .menu {
   display: block;
   
}

.nav {
    display: block;
}

#showcase {
    .showcase-container {
        display: flex;
        justify-content: center;
        height: 50vh;
        align-items: center;
    }
}

#articles-home .articles-container {
    display: grid;
    grid-template-columns: 1fr; 

 }

 #articles-home .articles-container > *:first-child,
 #articles-home .articles-container > *:last-child {
   grid-template-columns: 1fr;
   grid-column: 1;
   
 }

#articles-home img {
    width: 100%;
    margin: auto;
}

#about {
     
    .page-container {
        display: grid;
        grid-template-columns: 1fr;
       
        .card {
            grid-column: 1 fr;
            grid-column: 1;
        }
    }
}

#article {
    
    img {
        width: 100%;
        margin: auto auto 0.5rem auto;
    }

    h3 {
        font-size: 1.5rem;
    }

    .article-page {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
        .card {
            grid-column: 1;
            grid-row: 1;
        }
        
    }
}   

#main-footer {
  
    .footer-container {
         display: grid;
         grid-template-columns: 1fr;
         grid-gap: 1.5rem;

         & > *:last-child {
             grid-column: 1;
             background: #444;
             text-align: center;
             padding: 0.5rem;
         }

         & > *:first-child {
            display: flex;
            flex-direction: column;

            img {
              margin: auto auto 1rem 0;
            }
        }
        }
    }

    @media screen and (max-width: 370px) {
        .showcase-container {

            p {
                font-size: 0.80rem;
            }

            h1 {
                font-size: 1.5rem;
                margin-top: 0.5rem;
            }
           }
    }

    #article {
    
        img {
            width: 100%;
            margin: auto auto 0.5rem auto;
        }
    
        h3 {
            font-size: 1.2rem;
        }
    
    }   

     


